@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+20+Charted&family=Moul&family=Shanti&family=Silkscreen:wght@400;700&display=swap");
body2 {
  display: flex;
  padding: 70px;
  border: 30px solid #556086;
}
body2 #Back {
  width: 105px;
  color: white;
  accent-color: white;
  height: 40px;
  justify-content: baseline;
  align-self: first baseline;
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  background-color: #556086;
  margin-right: 150px;
  cursor: pointer;
}
.container {
  margin-left: 150px;
}

.collection {
  margin-top: 45px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  align-items: center;
  width: 1396px;
  height: 298px;
  flex-shrink: 0;
  .albumStore h3 {
    transform: translateX(250px);
  }
  background: url(alb.jpg) lightgray 70% / cover no-repeat;
  grid-template-rows: 2;
}
.collection h1 {
  color: white;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 30px;
}
.collection button {
  display: flex;
  margin-left: 30px;
  width: 144px;
  height: 60px;
  padding: var(--sds-size-space-300);
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);
  flex-shrink: 0;
  border-radius: 15px;
  border: var(--sds-size-stroke-border) solid #556086;
  background: #fff;
  color: #556086;
  cursor: pointer;
}
.bxs-cart-alt:hover {
  color: white;
}

.collection p {
  color: white;
  margin-left: 30px;
  text-align: left;
}
.imgAlbum {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}
.imgAlbum img {
  width: auto;
  height: 300px;
  object-fit: cover;
}
.albumStore {
  display: flex;
  justify-content: space-between;
}

.albumStore img {
  height: 95%;
  transform: translateY(0px) translateX(-40px);
  transition: transform 0.5s ease;
}

.Vinly h3 {
  transform: translateX(250px);
}
.cd h3 {
  transform: translateX(150px);
}
.cas h3 {
  transform: translateX(150px);
}
.cas button {
  transform: translateX(140px);
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  align-items: center;
  gap: var(--sds-size-space-200);
  flex-shrink: 0;
  border-radius: 15px;
  border: var(--sds-size-stroke-border) solid #556086;
  background: #242323;
  color: white;
  cursor: pointer;
}
.cd button {
  transform: translateX(120px);
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  align-items: center;
  gap: var(--sds-size-space-200);
  flex-shrink: 0;
  border-radius: 15px;
  border: var(--sds-size-stroke-border) solid #556086;
  background: #242323;
  color: white;
  cursor: pointer;
}

.Vinly button {
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  align-items: center;
  gap: var(--sds-size-space-200);
  flex-shrink: 0;
  border-radius: 15px;
  border: var(--sds-size-stroke-border) solid #556086;
  background: #242323;
  color: white;
  cursor: pointer;
  transform: translateX(230px);
}

.albumStore img:hover {
  transform: translateY(-130px) translateX(-40px);
}
/* .albumStore:hover > :not(:hover) {
  filter: blur(5px);
  opacity: 0.5;
} */
