/* Global styles */
* {
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Container */
.container {
  height: 80px;
  box-shadow: 1px 2px 5px solid black;
  border: 1px solid #ccc;
}

/* Navbar */
.nav-text {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  display: inline-block;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px;
}

.nav-links-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links-right {
  display: flex;
  gap: 15px;
  justify-self: flex-end;
}

.nav-links-right i {
  align-self: center;
}

.nav-text {
  text-align: center;
  font-size: 20px;
  color: black;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 40px 5px 15px;
  font-size: 15px;
}

.search i {
  align-self: center;
  font-size: 20px;
  transform: translateX(190px) translateY(4px);
}

.nav i {
  font-size: 30px;
  color: #556086;
  cursor: pointer;
}

.nav span {
  margin-left: 80px;
  margin-top: 500px;
  font-size: 18px;
}

/* Product container */
.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin: 50px;
}

.product-container img {
  width: 440px;
  height: 484px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

h4 {
  font-weight: thin;
  font-size: 25px;
}

p1 {
  text-align: center;
  margin-top: 22px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select {
  width: 100px;
  height: 50px;
}

label {
  font-size: 20px;
}

input[type="number"] {
  width: 100px;
  height: 50px;
  border: 1px solid #333;
  font-size: 16px;
}

.quantity {
  margin-left: 87px;
}

button {
  width: 414.28px;
  height: 60px;
  cursor: pointer;
}

.check-out {
  background-color: #2c2c2c;
  color: white;
}
.size-quantity {
  display: flex;
}
.button {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

/* Featured Products */
.you-may-also-like {
  margin-top: 200px;
  margin-left: 20px;
}

.featured {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-evenly;
}

.featured-product img {
  width: 242px;
  height: 242px;
  margin-bottom: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  box-shadow: 1px 2px 5px solid #ccc;
}

.featured-product img:hover {
  transform: translateY(-25px);
  border-radius: 10px;
}

.featured-product-text {
  font-size: 24px;
  margin-bottom: 5px;
}

.featured-product-price {
  font-size: 18px;
  font-weight: lighter;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.footer-container p {
  align-self: center;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.third {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  font-size: 30px;
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 2em;
  cursor: pointer;
  padding: 1em;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hamburger {
    display: block; /* Show hamburger icon on small screens */
  }

  #nav-bar {
    display: none; /* Hide the menu by default */
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.5;
    position: absolute;
    top: 80px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }

  .nav-logo {
    display: none;
  }

  .nav-links-left,
  .nav-links-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-bar:hover {
    opacity: 1;
  }

  #nav-bar.active {
    display: flex; /* Show the menu when active */
  }

  .nav-bar a {
    margin-left: 20px;
  }

  .nav-bar i {
    margin-top: 10px;
    margin-left: 20px;
  }

  .nav-bar a:hover {
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }

  h2 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
  }

  .search {
    display: none;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .product-container img {
    width: 100%;
    height: auto;
  }

  .footer-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
  }

  .nav-links-left {
    gap: 15px;
  }

  .nav-links-right {
    gap: 10px;
  }

  .search-input {
    width: 150px;
  }

  .search i {
    font-size: 18px;
    transform: translateX(130px) translateY(4px);
  }

  .featured {
    display: wrap;
    gap: 10px;
    overflow: scroll;
    margin-top: 30px;
    justify-content: space-evenly;
  }

  .featured-product img {
    width: 242px;
    height: 242px;
    margin-bottom: 10px;
  }
  .size-quantity {
    display: flex;
    padding-top: 10px;
  }
  .button {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger icon on small screens */
  }

  #nav-bar {
    display: none; /* Hide the menu by default */
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.5;
    position: absolute;
    top: 80px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }

  .nav-logo {
    display: none;
  }

  .nav-links-left,
  .nav-links-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-bar:hover {
    opacity: 1;
  }

  #nav-bar.active {
    display: flex; /* Show the menu when active */
  }

  .nav-bar a {
    margin-left: 20px;
  }

  .nav-bar i {
    margin-top: 10px;
    margin-left: 20px;
  }

  .nav-bar a:hover {
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }

  .search {
    display: none;
  }

  .product-container {
    margin: 20px;
  }

  .product-container img {
    width: 100%;
    height: auto;
  }

  .footer-container {
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
  }

  .nav-links-left,
  .nav-links-right {
    flex-direction: column;
    gap: 10px;
  }

  .search-input {
    width: 120px;
  }

  .search i {
    font-size: 16px;
    transform: translateX(100px) translateY(4px);
  }

  .button {
    margin-top: 50px;
  }
  .size-quantity {
    display: flex;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: block; /* Show hamburger icon on small screens */
  }

  #nav-bar {
    display: none; /* Hide the menu by default */
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.5;
    position: absolute;
    top: 80px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }
  .size-quantity {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .big-size {
    padding-left: 123px;
  }
  .big-quantity {
    padding-right: 20px;
    width: 270px;
  }
  .nav-logo {
    display: none;
  }

  .nav-links-left,
  .nav-links-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-bar:hover {
    opacity: 1;
  }

  #nav-bar.active {
    display: flex; /* Show the menu when active */
  }

  .nav-bar a {
    margin-left: 20px;
  }

  .nav-bar i {
    margin-top: 10px;
    margin-left: 20px;
  }

  .nav-bar a:hover {
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }

  .search {
    display: none;
  }

  .nav-text {
    font-size: 16px;
  }

  .product-container img {
    width: 90%;
    height: auto;
  }

  .footer-container {
    margin-top: 20px;
    gap: 10px;
  }

  .socials {
    font-size: 25px;
  }

  .check-out {
    width: 100%;
  }
}
