* {
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  height: 80px;
  box-shadow: 1px 2px 5px solid black;
}

.nav-text {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  display: inline-block;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px;
}

.nav-links-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links-right {
  display: flex;
  gap: 15px;
  justify-self: flex-end;
}
.nav-links-right i {
  /*  transform: translateY(10px); */
  align-self: center;
}

.nav-text {
  text-align: center;
  font-size: 20px;
  color: black;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 40px 5px 15px;
  font-size: 15px;
}

.search i {
  align-self: center;
  font-size: 20px;
  transform: translateX(190px) translateY(4px);
}

.under-pic img {
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 300px;
}

.under-pic a{
  cursor: pointer;
  font-size: 30px;
}

.under-pic i{
  color:#556086;
  margin-left:15px;
}

.products {
  display: grid;
  grid-template-columns: 480px 480px 480px 1fr;
  margin-top:10px;
  /*  gap: 10px; */
}

.products img {
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  width: 460px;
  height: 470px;
  margin-top:20px;
  margin-bottom:10px;
}
.products img:hover {
  transform: translateY(-25px);
}

h4{
  font-size: 24px;
  margin-bottom:10px;
}

p{
  font-size: large;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}
.footer-container p {
  align-self: center;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.third {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  font-size: 30px;
}
