*{
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

.container{
    width:1920px;
    height:80px;
    box-shadow: 1px 2px 5px solid black;
}

.nav-text {
    text-decoration: none; 
    color: black; 
    font-size: 18px; 
    font-weight: 500; 
    padding: 5px 0; 
    display: inline-block; 
}


.nav-bar{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;

}

.nav-links-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links-right{
    display: flex;
    gap: 15px;
    justify-self: flex-end;
}

.nav-text{
    text-align: center;
    font-size: 20px;
    color: black;

}

.search{
    display: flex;
    align-items: center;
    position: relative;
}

.search-input{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding:5px 40px 5px 15px;
    font-size: 15px;
}

.search i{
    align-self: center;
    font-size: 20px;
    transform: translateX(190px) translateY(4px);
}

.under-pic img{
    width: 1920px;
    height: 300px;
    object-fit: cover;
}

img{
    width: 100%;
    height: 300px;
}

main{
   
}

.products{
    display: grid;
    grid-template-columns: 480px 480px 480px 480px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.products img{
    width:480px;
    height: 480px;
}