* {
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 5em;
  padding: 1.25em;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
}
.red-box {
  width: 3em;
  height: 6.438em;
  background-color: red;
  position: absolute;
  left: 1.5em;
  top: 5em;
}
.nav-logo {
  flex: 1 0 0;
}
.nav-menu {
  display: flex;
  width: 53.125em;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  flex-shrink: 0;
  font-size: 1em;
}
.text-logo {
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 1.96px;
  font-size: 28px;
}
.log-in {
  display: flex;
  width: 850px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}
.search-form {
  display: flex;
  border-radius: 15px;
  width: 200px;
  padding: 6px;
  flex: 1 0 0;
  justify-content: flex-end;
  box-shadow: none;
  align-items: center;
  gap: 4px;
  border: 1px solid rgba(0, 0, 0, 0.51);
}


#search-bar {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 15px;
  width:200px;
  border: none;
  width: 170px;
  height: auto;
  box-shadow: none;
  
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
}
input[type="search"] {
  outline: none; /* Removes the focus outline */
}



.log-in-form {
  background-color: rgb(100, 107, 166);
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
}
.sign-up {
  color: rgb(100, 107, 166);
}
.home-text {
  position: absolute;
  display: flex;
  top: 250px;
  width: 1100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.home-text h1 {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 56px;
  font-size: 56px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 730px;
  height: 108px;
}
.home-text h1 span {
  color: #d80000;
}

.main-section {
  display: flex;
  height: 920px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  background-position: 50px;
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(the_marias_band_bethany_vargas.jpg) lightgray 70% / cover no-repeat;
}
.home-text p {
  width: 520px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.input-sub {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}
#in-subscribe {
  display: flex;
  width: 319px;
  height: 40px;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
#email-submit {
  display: flex;
  width: 142px;
  height: 40px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(216, 0, 0, 0.8);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
#email-submit i {
  transition: opacity 0.3s ease;
  color: white;
}

.sub-main {
  display: flex;
  height: 430px;
  background-position: 50px;
  background: linear-gradient(
      rgba(128, 128, 128, 0.5),
      rgba(128, 128, 128, 0.5)
    ),
    url(sub-main-pic.jpg) lightgray 50% / cover no-repeat;
}
.social {
  display: flex;
  gap: 20px;
  padding: 50px 40px;
}
.social-text {
  width: 150px;
  height: 33px;
  flex-shrink: 0;
  line-height: 24px;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color: #fff;
}
.stand-line {
  background: #fff;
  width: 1px;
  height: 31px;
  flex-shrink: 0;
}
.streaming {
  display: flex;
  gap: 15px;
  width: 328px;
  height: 22px;
  flex-shrink: 0;
  line-height: 24px;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color: #fff;
}
.sub-main {
  flex-direction: column;
  display: flex;
  gap: 120px;
}
.sub-text {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  gap: 30px;
}
.t-1 p {
  width: 504px;
  height: 100px;
  line-height: 24px;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.t-2 p {
  width: 614px;
  height: 94px;
  line-height: 24px;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.t-3 p {
  width: 599px;
  height: 85px;
  line-height: 24px;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.sub-text a {
  text-decoration: underline;
  color: white;
}
.shop {
  width: 100%;
  height: 1040px;
  background: #556086;
  padding: 60px 60px;
}
.main-shop {
  width: 1780px;
  height: 900px;
  flex-shrink: 0;
  background: #fff;
}
body3 h1 {
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Shanti", serif;
}
/* From Uiverse.io by arshshaikh06 */
.container-mem {
  margin-left: 350px;
  height: 600px;
  width: 1234px;
  border-radius: 1em;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
}

.palette {
  display: flex;
  height: 86%;
  width: 100%;
}

.member {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
}

.member span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.member:nth-child(1) {
  background: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.member:nth-child(2) {
  background: url(2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.member:nth-child(3) {
  background: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.member:nth-child(4) {
  background: url(4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.member:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.member:hover span {
  opacity: 1;
}

#stats {
  height: 14%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  box-sizing: border-box;
  color: #bebebe;
}

#stats svg {
  fill: #bebebe;
  transform: scale(1.2);
}

.tour-page {
  display: flex;
  padding: 80px 170px;
  justify-content: center;
  align-items: center;
  gap: 230px;
}

.tour-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.tour-date h1 {
  line-height: 48px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.tour-date p {
  line-height: 24px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  align-self: stretch;
  width: 520px;
}
.tour-date button {
  display: flex;
  width: 240px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #000;
  color: white;
}
.ticket {
  display: flex;
  flex-direction: column;
}
.concert,
.perform {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  width: 520px;
}
.perform .text {
  display: flex;
  width: 276px;
  flex-direction: column;
}
.sub-event .icon {
  display: flex;
  width: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: #000;
  font-family: "Roboto", serif;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(233, 232, 232, 0.695);
  border-radius: 50%;
}
.event {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sub-event {
  display: flex;
  width: 500px;
  gap: 16px;
}
.sub-event .details {
  width: 276px;
}
.sub-event .details p {
  color: rgba(0, 0, 0, 0.5);
}
.sub-event .details h3 {
  font-weight: normal;
}
.sub-event .status {
  width: 180px;
  line-height: 28px;
  text-align: right;
  font-size: 16px;
}
.booking-temp {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.promote {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px 100px;
}
.promote-plan {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  gap: 10px;
  background: white;
  padding-top: 10px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid rgba(233, 232, 232, 0.695);
  padding-bottom: 30px;
}
.promote-title {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}
.promote-price {
  justify-content: center;
  display: flex;
}
.promote-feature li {
  padding: 3px;
  padding-left: 40px;
}
.super-title,
.super-price,
.super-feature li {
  color: white;
}
.super {
  background-color: black;
}
.promote .main-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.promote-button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
.super-button {
  background-color: #fff;
}
.normal-button {
  background-color: #000;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.footer-container p {
  align-self: center;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.third {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  font-size: 20px;
}
.last {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}
