* {
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  top: 0;
    z-index: 1000;
}

.nav-bar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  height: 5em;
  padding: 1.25em;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  background: #fff;
  box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
}

.red-box {
  width: 3em;
  height: 6.438em;
  background-color: red;
  position: absolute;
  left: 1.5em;
  top: 5em;
}
body {
  overflow-x: hidden;
}

.nav-logo {
  flex: 1 0 0;
}

.nav-menu {
  display: flex;
  width: 53.125em;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  flex-shrink: 0;
  font-size: 1em;
}

.nav-text {
  transition: all 0.5s ease;
}

.nav-text:hover {
  padding: 0.3125em;
  color: white;
  border-radius: 0.625em;
  background-color: #556086;
}

.nav-items {
  transition: transform 0.5s ease;
}

.nav-items:hover {
  transform: translateY(-0.3125em);
}

.nav-menu a {
  transition: all 0.5s ease;
}

.nav-menu a:not(.sign-up):hover {
  padding: 0.5em;
  background-color: #26272b;
}

.nav-menu a:not(.log-in-form):hover {
  background-color: #d80000;
  color: snow;
  padding: 0.5em;
  border-radius: 0.625em;
}

.text-logo {
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2.25em;
  letter-spacing: 0.1225em;
  font-size: 1.75em;
}

.log-in {
  display: flex;
  width: 53.125em;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  flex-shrink: 0;
}

.search-form {
  display: flex;
  border-radius: 1em;
  width: 12.5em;
  padding: 8px;
  justify-content: flex-end;
  box-shadow: none;
  align-items: center;
  gap: 0.25em;
  border: 0.0625em solid rgba(0, 0, 0, 0.51);
}

#search-bar {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 1em;
  width: 10.625em;
  border: none;
  height: auto;
  box-shadow: none;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
  line-height: 20px;
}

input[type="search"] {
  outline: none;
}

.log-in-form {
  background-color: rgb(100, 107, 166);
  padding: 0.625em 1.875em;
  border-radius: 0.625em;
  color: white;
}

.sign-up {
  color: rgb(100, 107, 166);
}

.home-text {
  position: absolute;
  display: flex;
  top: 320px;
  width: 55.75em;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.home-text h1 {
  width: 100%;
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 56px;
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
  height: 150px;
}

.home-text h1 span {
  color: #d80000;
}

.main-section {
  display: flex;
  max-width: 100%;
  height: 100.5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-position: 3.125em;
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(the_marias_band_bethany_vargas.jpg) lightgray 70% / cover no-repeat;
}

.home-text p {
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.input-sub {
  display: flex;
  gap: 1.25em;
  padding-top: 30px;
  

}

#in-subscribe {
  display: flex;
  width: 19.9375em;
  height: 2.5em;
  padding: 0.5em 0.75em;
  align-items: center;
  gap: 0.25em;
  border: none;
  border-radius: 0.375em;
  border: 0.0625em solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

#email-submit {
  display: flex;
  width: 118px;
  height: 32px;
  padding: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  background: rgba(216, 0, 0, 0.8);
  box-shadow: 0px 0.125em 0.25em 0px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 1em;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}

#email-submit i {
  transition: opacity 0.3s ease;
  color: white;
}

.sub-main {
  display: flex;
  height: 26.875em;
  background-position: 3.125em;
  background: linear-gradient(
      rgba(128, 128, 128, 0.5),
      rgba(128, 128, 128, 0.5)
    ),
    url(sub-main-pic.jpg) lightgray 50% / cover no-repeat;
}

.social {
  display: flex;
  gap: 1.25em;
  padding: 3.125em 2.5em;
}

.social-text {
  width: 9.375em;
  height: 2.0625em;
  flex-shrink: 0;
  line-height: 1.5em;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4375em;
  color: #fff;
}

.stand-line {
  background: #fff;
  width: 10px;
  height: 1.9375em;
  flex-shrink: 0;
}

.streaming {
  display: flex;
  gap: 0.9375em;
  width: 20.5em;
  height: 1.375em;
  flex-shrink: 0;
  line-height: 1.5em;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4375em;
  color: #fff;
}

.sub-main {
  flex-direction: column;
  display: flex;
  gap: 7.5em;
}

.sub-text {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  gap: 80px;
}

.t-1 p,
.t-2 p,
.t-3 p {
  
  height: auto; /* Adjust height to auto */
  line-height: 1.5em;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
  color: white;
}

.sub-text a {
  text-decoration: underline;
  color: white;
}

.shop {
  width: 100%;
  height: 65vh;
  background: #556086;
  padding: 3.75em 3.75em;
}

.main-shop {
  width: 111.25em;
  height: 56.25em;
  flex-shrink: 0;
  background: #fff;
}
/* Hamburger Menu Styles */
.hamburger {
  display: none; /* Hidden by default */
  font-size: 2em;
  cursor: pointer;
  padding: 1em;
}
@media (max-width: 1280px) {
  .hamburger {
    display: block; /* Show hamburger menu on small screens */
  }

  #nav-menu {
    display: none; /* Hide the menu by default */
    flex-direction: column;

    align-items: flex-start;
    opacity: 0.5;

    position: absolute;
    top: 60px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }
  #nav-menu:hover {
    opacity: 1;
  }

  #nav-menu.active {
    display: flex; /* Show the menu when active */
  }
  .nav-menu a {
    margin-left: 2em;
  }
  .nav-menu a:hover {
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }
  .search-form {
    display: none;
  }
  .home-text h1 {
    font-size: 4em;
  }
 
  .input-sub {
    padding-top: 40px;

  }
  .nav-bar {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1080px) {
  .nav-bar {
    max-width: 100%;
    width: 100%;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger menu on small screens */
  }
  .footer-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }
  body {
    overflow-x: hidden;
  }
  #nav-menu {
    display: none; /* Hide the menu by default */
    flex-direction: column;

    align-items: flex-start;
    opacity: 0.5;

    position: absolute;
    top: 60px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }
  #nav-menu:hover {
    opacity: 1;
  }

  #nav-menu.active {
    display: flex; /* Show the menu when active */
  }
  .nav-menu a {
    margin-left: 2em;
  }
  .nav-menu a:hover {
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }
  .search-form {
    display: none;
  }
  .nav-bar {
    max-width: 100%;
  }
  .home-text h1 {
    font-size: 2.5em;
  }
 

}
@media (max-width: 520px) {
  .hamburger {
    display: block; /* Show hamburger menu on small screens */
  }

  .main-section {
    display: flex;
    height: 50.5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75em;
    align-self: stretch;
    background-position: 3.125em;
    background: linear-gradient(
        rgba(200, 200, 200, 0.5),
        rgba(200, 200, 200, 0.5)
      ),
      url(the_marias_band_bethany_vargas.jpg) lightgray 70% / cover no-repeat;
  }
  #nav-menu {
    display: none; /* Hide the menu by default */
    flex-direction: column;

    align-items: flex-start;
    opacity: 0.5;

    position: absolute;
    top: 60px; /* Adjust as needed */
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 0.375em 0px rgba(0, 0, 0, 0.12);
    padding: 1em 0;
  }
  #nav-menu:hover {
    opacity: 1;
  }

  #nav-menu.active {
    display: flex; /* Show the menu when active */
  }
  .nav-menu a {
    margin-left: 2em;
  }
  .nav-menu a:hover {
    background-color: #556086; /* Darker background on hover */
    color: white; /* Change text color on hover */
  }
  .search-form {
    display: none;
  }

  .home-text h1 {
    font-size: 3em;
  }
 
  .input-sub {
    padding-bottom: 350px;
  }
  .red-box {
    display: none;
  }
}

@media (max-width: 1280px) {
  .sub-main {
    display: flex;
    height: 25.875em;
    background-position: 3.125em;
    background: linear-gradient(
        rgba(128, 128, 128, 0.5),
        rgba(128, 128, 128, 0.5)
      ),
      url(sub-main-pic.jpg) lightgray 50% / cover no-repeat;
  }
  body {
    overflow-x: hidden;
  }
  .social {
    display: flex;
    gap: 1em;
    padding: 3.125em 2.5em;
  }

  .social-text {
    width: 9.375em;
    height: 2.0625em;
    flex-shrink: 0;
    line-height: 1.5em;
    font-family: "Shanti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #fff;
  }
  .social a {
    width: 10px;
    height: 5px;
  }

  .stand-line {
    background: #fff;
    width: 0.0625em;
    height: 1.9375em;
    flex-shrink: 0;
  }

  .streaming {
    display: flex;
    gap: 0.9375em;
    height: 1.375em;
    flex-shrink: 0;
    line-height: 1.5em;
    font-family: "Shanti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #fff;
  }

  .sub-main {
    flex-direction: column;
    display: flex;
    gap: 7.5em;
  }

  .sub-text {
    display: flex;
    padding-left: 3.125em;
    padding-right: 3.125em;
    gap: 1.575em;
    flex-direction: column;
  }

  .t-1 p,
  .t-2 p,
  .t-3 p {
    width: 31.5em;
    height: auto; /* Adjust height to auto */
    line-height: 1em;
    font-family: "Shanti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    color: white;
    transform: translateY(-130px);
  }
  .nav-bar {
    max-width: 100%;
  }

  .sub-text a {
    text-decoration: underline;
    color: white;
  }
}

body3 h1 {
  margin-top: 5%; /* Use relative margin */
  margin-left: 5%; /* Use relative margin */
  font-family: "Shanti", serif;
}

.container-mem {
  margin: 0 auto; /* Center horizontally */
  height: auto; /* Use auto for height */
  max-width: 1200px; /* Set a maximum width */
  border-radius: 1em;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: "Shanti", serif;
  font-weight: 400;
  font-style: normal;
  padding: 2%; /* Add padding for all screens */
}

.palette {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  width: 100%;
}

.member {
  flex: 1 1 200px; /* Minimum width of 300px, flexible */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.2s ease; /* Smoother transition */
  position: relative; /* For positioning the span */
  min-height: 250px; /* Set a minimum height for better visibility */
}

.member span {
  opacity: 0;
  transition: opacity 0.2s ease; /* Smoother transition */
  position: absolute; /* Position the span */
}

.member:nth-child(1) {
  background: url(1.jpg) no-repeat center center;
  background-size: cover;
}

.member:nth-child(2) {
  background: url(2.jpg) no-repeat center center;
  background-size: cover;
}

.member:nth-child(3) {
  background: url(3.jpg) no-repeat center center;
  background-size: cover;
}

.member:nth-child(4) {
  background: url(4.png) no-repeat center center;
  background-size: cover;
}

.member:hover {
  flex: 1 1 400px; /* Expand slightly on hover */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.member:hover span {
  opacity: 1; /* Show on hover */
}

#stats {
  height: auto; /* Use auto for height */
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em; /* Responsive padding */
  box-sizing: border-box;
  color: #bebebe;
}

#stats svg {
  fill: #bebebe;
  transform: scale(1.2);
}

/* Media Queries for Additional Responsiveness */
@media (max-width: 1200px) {
  .member {
    flex: 1 1 300px; /* Keep members at a consistent size */
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .member {
    flex: 1 1 300px; /* Keep members at a consistent size */
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .member {
    flex: 1 1 100%; /* Stack members on small screens */
    max-width: 100%;
    min-height: 300px; /* Ensure adequate height */
  }
  .palette {
    max-width: 100%;
  }
  #stats {
    max-width: 100%;

    flex-direction: column; /* Stack stats on mobile */
    align-items: flex-start; /* Align stats items to the start */
  }
}

.tour-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}


.tour-date {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.tour-date h1 {
  padding-left: -50px;
  line-height: 48px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.tour-date p {
  line-height: 24px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  align-self: stretch;
  width: 520px;
}
.tour-date button {
  display: flex;
  width: 240px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #000;
  color: white;
}
.ticket {
  display: flex;
  flex-direction: column;
}
.concert,
.perform {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  width: 520px;
}
.perform .text {
  display: flex;
  width: 276px;
  flex-direction: column;
}
.sub-event .icon {
  display: flex;
  width: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: #000;
  font-family: "Roboto", serif;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(233, 232, 232, 0.695);
  border-radius: 50%;
}

.event {

  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sub-event {
  padding-right: 10x;
  display: flex;
    gap: 16px;
}
.sub-event .details {
  width: 276px;
}
.sub-event .details p {
  color: rgba(0, 0, 0, 0.5);
}
.sub-event .details h3 {
  font-weight: normal;
}
.sub-event .status {
  width: 180px;
  line-height: 28px;
  text-align: right;
  font-size: 16px;
}
.booking-temp {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.booking-temp h1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 48px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
.booking-temp p {
  line-height: 24px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.promote {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  padding: 50px 100px;
  margin-left: 70px;
  max-width: 100%;
  border-color: black;
}
.promote-plan {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  gap: 10px;
  background: white;
  padding-top: 10px;
  height: 550px;
  border-radius: 10px;
  border: 2px solid rgba(233, 232, 232, 0.695);
  padding-bottom: 30px;
  transition: ease 1s;
  width: 314px;
  height: auto;
}
.promote-title {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
}
.promote-price {
  justify-content: center;
  display: flex;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 23px;
}
.promote-feature li {
  padding: 3px;
  padding-left: 40px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  font-size: 1.2rem;
}
.promote-feature {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 15px;
  padding-left: 30px;
}
.super-title,
.super-price,
.super-feature li {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}
.promote-button {
  cursor: pointer;
  width: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
}
.promote-button:hover {
  color: black;
}
.super {
  background: url(bg.jpg) 50% lightgray;
  text-shadow: rgb(221, 27, 27) 1px 0 10px;
}

.details {
  color: #000;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.status {
  color: #000;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.promote .main-price {
  padding-top: 10px;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
}
.super-button {
  background-color: #fff;
}
.normal-button {
  background-color: #000;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.footer-container p {
  align-self: center;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.third {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ter-container {
  color: #000;
  font-family: "Shanti", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 128.571% */
  letter-spacing: 0.8px;
}
.socials {
  font-size: 20px;
}
.last {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}
.promote-plan:hover {
  transform: scale(1.05);
}

@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+20+Charted&family=Moul&family=Shanti&family=Silkscreen:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}
body2 {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 4.375em;
  border: 1.875em solid #556086;
}

body2 #Back {
  width: 6.5625em;
  color: white;
  accent-color: white;
  height: 2.5em;
  justify-content: baseline;
  align-self: first baseline;
  margin-left: 1.25em;
  margin-top: 3.125em;
  border-radius: 1.5625em;
  color: white;
  background-color: #556086;
  margin-right: 9.375em;
  cursor: pointer;
}

.container {
  margin-left: 9.375em;
}

.collection {
  margin-top: 2.8125em;
  padding: 1.875em;
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1.25em;
  align-items: center;
  height: 18.625em;
  flex-shrink: 0;
  grid-template-rows: 2;
  background: url(alb.jpg) lightgray 70% / cover no-repeat;
}

.collection h1 {
  color: white;
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 1.875em;
}

.collection button {
  font-size: 1.125em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 1.125em 3.125em;
  border: 1px solid white;
  border-radius: 0.875em;
  position: relative;
  box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.16),
    0 0.1875em 0.375em rgba(0, 0, 0, 0.1);
  color: #242323;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
}

.collection button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  border-radius: 1em;
  background-color: #556086;
  z-index: -1;
}

.collection button:hover > :not(:hover) {
  color: white;
}

.collection button:hover,
.collection button:focus > .collection i:focus,
.collection i:hover {
  color: white;
}

.collection button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:hover {
  color: white;
}

.collection button:active {
  transform: scale(0.9);
}

.bxs-cart-alt:hover {
  color: white;
}

.collection p {
  color: white;
  margin-left: 1.875em;
  text-align: left;
}

.imgAlbum {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}

.imgAlbum img {
  width: auto;
  height: 18.75em;
  object-fit: cover;
}

.albumStore {
  justify-content: space-between;
}

.albumStore img {
  height: 95%;
  transform: translateY(0) translateX(-2.5em);
  transition: transform 0.5s ease;
}

.Vinly h3 {
  transform: translateX(15.625em);
}

.cd h3 {
  transform: translateX(9.375em);
}

.cas h3 {
  transform: translateX(9.375em);
  width: 10px;
}

.albumStore img:hover {
  transform: translateY(-8.125em) translateX(-2.5em);
}

@media (max-width: 1700px) {
  body2 {
    padding: 2em;
    border: 1em solid #556086;
  }
  .t-1 p,
  .t-2 p,
  .t-3 p {
    height: auto; /* Adjust height to auto */
    line-height: 1.5em;
    font-family: "Shanti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
  }
  
  main {
    width: 100%;
  }
  .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  
  .nav-bar {
    max-width: 100%;
  }
}
@media (max-width: 1280px) {
  body2 {
    padding: 2em;
    border: 1em solid #556086;
  }
  .promote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 25px 50px;
    margin-left: 70px;
  }

  .tour-page {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
  }
  .tour-date {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .tour-date button {
    cursor: pointer;
  }
  .details {
    color: #000;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .status {
    color: #000;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  .collection {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2em;
    margin-top: 1.5em;
  }

  .collection h1 {
    margin-left: 0;
    text-align: center;
  }

  .collection p {
    margin-left: 0;
    text-align: center;
  }

  .imgAlbum img {
    height: 14em;
    max-width: 90%;
  }

  .albumStore img {
    width: 200px;
    height: 200px;
    transform: translateX(0);
  }
  .albumStore h3 {
    transform: translateX(100px);
  }
  .footer-container {
    color: #000;
    font-family: "Shanti", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.5px;
  }
  .footer-container {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .nav-bar {
    max-width: 100%;
  }
  .promote {
    overflow-x: auto;
  }
  .promote-plan {
    width: 314px;
    height: auto;
    margin-left: 0;
  }
}

.footer-container {
  overflow: hidden;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
}
@media (max-width: 992px) {
  body2 #Back {
    width: 100%;
    max-width: 15em;
    height: 2.5em;
    margin: 1em auto;
  }
  body {
    overflow-x: hidden;
  }
  .footer-container {
    color: #000;
    font-family: "Shanti", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.5px;
  }
  .collection {
    padding: 1.5em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .collection button {
    font-size: 1em;
    padding: 0.8em 1.5em;
  }

  .imgAlbum img {
    height: 12em;
  }
  .footer-container {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .nav-bar {
    max-width: 100%;
  }
  .promote {
    overflow-x: auto;
  }
  .promote-plan {
    width: 314px;
    height: auto;
    margin-left: 0;
  }
  .footer-container {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }
}


@media (max-width: 768px) {
  .collection {
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }
  .main-section {
    max-width: 100%;
  }
  
  .booking-temp {
    display: flex;
    text-align: center;
  }
  .footer-container {
    color: #000;
    font-family: "Shanti", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.5px;
  }
  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .collection h1 {
    font-size: 1.5em;
  }
  
    .home-text h1 {
      font-size: 2.8em;
    }
   
    
    
  }
  .collection button {
    font-size: 0.9em;
    padding: 0.7em 1.2em;
    width: auto;
  }

  .imgAlbum {
    justify-content: center;
  }

  .imgAlbum img {
    height: 10em;
  }

  .albumStore {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .albumStore img {
    transform: none;
    width: 80%;
    height: auto;
  }
  

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .nav-bar {
    width: 100%;
  }
  .promote {
    overflow-x: auto;
  }
  .promote-plan {
    width: 314px;
    height: auto;
    margin-left: 0;
  }
  .tour-page {
    display: flex;
    justify-content: center;
  }
  .tour-date p {
    width: 250px;
  }
  .tour-date {
    padding: 40px;
    margin-right: 70px;
  }
  .sub-event {
    display: flex;
        padding-right: 30px;
  }


.promote{
  overflow: auto;
}
@media(max-width:520px){
  .albumStore{
    flex-direction: column;
  }
  .home-text h1 {
    font-size: 2.2em;
    transform: translateY(-100px);
    
  }
 .home-text p{
  font-size: 1em;
  transform: translateY(-150px);
 }
 .input-sub{
  padding-top: 250px;
  padding-bottom: 0px;
 }
 
}
@media(max-width:430px){
  .home-text h1 {
    font-size: 1.5em;
  }
 .home-text p{
  font-size:0.8em;
}

.input-sub {
  padding-top: 230px;
  padding-bottom: 0px;
  }
  #in-subscribe {
    display: flex;
    width: 11.9375em;
    height: 2.5em;
    padding: 0.5em 0.75em;
    align-items: center;
    gap: 0.25em;
    border: none;
    border-radius: 0.375em;
    border: 0.0625em solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  #email-submit {
    display: flex;
    width: 70px;
    height: 32px;
    padding: 0.75em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    background: rgba(216, 0, 0, 0.8);
    color: white;
    box-shadow: 0px 0.125em 0.25em 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
@media (max-width: 576px) {
  body2 {
    padding: 1em;
    border: 0.5em solid #556086;
  }
  body {
    overflow-x: hidden;
  }
  body2 #Back {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
  }
  .tour-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tour-date p {
    width: 250px;
  }
  .tour-date {
    padding: 40px;
    margin-right: 70px;
  }
 
  .sub-event {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    
  }
  .sub-event .details {
    width: 200px;
  }
  .tour-date {
        padding: 5px;
    padding-right: 5px;
  }
  
  .container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .collection {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;
  }

  .collection h1,
  .collection p {
    text-align: center;
    margin-left: 0;
  }

  .collection button {
    width: 100%;
    padding: 0.5em;
    font-size: 0.8em;
  }
  .booking-temp {
    padding-right: 50px;
  }
  .imgAlbum img {
    height: 8em;
    max-width: 100%;
  }

  .albumStore img {
    width: 100%;
    height: auto;
  }
  .footer-container {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
  }

  .nav-bar {
    width: 100vw;
  }

  
  .social-text {
    font-size: 3vw;
  }
  .social a {
    font-size: 1vw;
  }
  .sub-main svg {
    width: 3vw;
    transform: translateX(-10px);
  }
  .sub-main p {
    font-size: 2.5vw;
  }
  .Vinly h3 {
    font-size: 5vw;
    transform: translateX(-1vw);
  }

  .cd h3 {
    font-size: 5vw;
    transform: translateX(-1vw);
  }

  .cas h3 {
    font-size: 5vw;
    transform: translateX(-1vw);
  }
  .nav-bar {
    max-width: 100%;
  }
  .promote {
    overflow-x: auto;
  }
  .promote-plan {
    width: 314px;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width:360px){
  body{
    overflow-x: hidden;
  }
 .ticket{
  width: 100%;
 }
 .tour-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
  padding-left: 200px;
}
 .tour-date{
  display: flex;
 }
 .tour-date h1,p{
  font-size: 1.5em;
  justify-content: flex-start;
 }


}
@media (max-width:440px){
  .promote{
    transform: translateX(-50px);
  }
  .tour-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    padding-left: 0px;
  }
}
